@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
body {
  font-family: "Open Sans", sans-serif; }

.header-top {
  background-color: #76c7c0; }
  .header-top__logo {
    color: #fff !important; }
  .header-top__menu-link {
    color: #fff !important; }

.header-bottom {
  background-color: #ececec; }
  .header-bottom__inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
